<div class="followers-container">
  <% users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="follower-item">
        <div class="user-photo-container-small">
          <%= image_tag user.photo, class: "user-photo-small" %>
        </div>
        <div class="follower-details">
          <h4 class="list-group-item-heading"><%= user.name %></h4>
        <% end %>
      <p class="list-group-item-text secondary-text">
        <a href="<%= user.twitter_profile_url %>" target="_blank"><%= user.decorate.display_twitter_handle %></a>
      </p>
      </div>
    </div>
  <% end %>
</div>
