<table class="table table-hover">
  <thead>
    <th class="col-md-1" id="table-cell-1"></th>
    <th class="col-md-9"></th>
    <th class="col-md-2"></th>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td>
          <%= render partial: "posts/upvotes", locals: { post: post} %>
        </td>
        <td data-link="<%= post_path(post) %>">
          <div class="post-item-info">
            <h4 class="list-group-item-heading">
              <a href="<%= post.url %>" target="_blank"><%= post.name %></a>
            </h4>
            <p><%= post.description %></p>
          </div>
        </td>
        <td>
          <h5 class="post-item-info">
            <%= link_to post.name_of_user, user_path(post.user) %>
          </h5>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $("td[data-link]").click(function() {
      window.location = this.dataset.link
  })
</script>
