<% posts.each do |post| %>
  <div class="list-item-row">
    <%= render partial: "posts/upvotes", locals: { post: post} %>
    <div class="list-item-left-contents" data-link="<%= post_path(post) %>">
      <div class="list-item-info">
        <h4 class="list-item-heading">
          <a href="<%= post.url %>" target="_blank"><%= post.name %></a>
        </h4>
        <p class="list-item-details"><%= post.description %></p>
      </div>
    </div>
    <div class="list-item-right-contents">
      <h5>
        <%= link_to post.name_of_user, user_path(post.user) %>
      </h5>
    </div>
  </div>
  <hr></hr>
  <% end %>
<script type="text/javascript">
  $("div[data-link]").click(function() {
      window.location = this.dataset.link
  })
</script>
