<table class="table table-hover">
  <thead>
    <th class="col-md-1"></th>
    <th class="col-md-9"></th>
    <th class="col-md-2"></th>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr data-link="<%= post_path(post) %>">
        <td>
          <%= render partial: "upvotes", locals: { post: post} %>
        </td>
        <td>
          <div class="post-item-info">
            <h4 class="list-group-item-heading">
              <a href="<%= post.url %>" target="_blank"><%= post.name %></a>
            </h4>
            <p class="list-group-item-text"><%= post.description %></p>
          </div>
        </td>
        <td>
          <div class="post-item-info">
            <%= link_to post.name_of_user, user_path(post.user) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $("tr[data-link]").click(function() {
      window.location = this.dataset.link
  })
</script>
