<% posts_by_date.each do |date, posts| %>
    <div class="row">
      <div>
        <% if date == @todays_date %>
          <h3 id="present-date">Today</h3>
        <% else %>
          <h5 id='day-of-week'><%= date.strftime("%A") %>,</h5>
        <% end %>
          <h5 id='month-ordinalized'><%= date.strftime("%B #{date.day.ordinalize}") %></h5>
      </div>
    </div>

    <div class="well bs-component">
      <% posts.sort_by { |post| post.number_of_votes }.reverse.each do |post| %>
        <div class="list-item-row">
          <%= render partial: "posts/upvotes", locals: { post: post} %>
          <div class="list-item-left-contents" data-link="<%= post_path(post) %>">
            <div class="list-item-info">
              <h4 class="list-item-heading">
                <a href="<%= post.url %>" target="_blank"><%= post.name %></a>
              </h4>
              <p class="list-item-details"><%= post.description %></p>
            </div>
          </div>
          <div class="list-item-right-contents">
            <%= link_to(image_tag(post.user_photo, class: "user-photo-small"), user_path(post.user)) %>
          </div>
        </div>
        <hr></hr>
      <% end %>
    </div>
  <% end %>
<script type="text/javascript">
  $("div[data-link]").click(function() {
      window.location = this.dataset.link
  })
</script>
