<div class="well bs-component">
  <!-- Post info -->
  <div class="row">
    <div class="col-md-1">
      <%= link_to like_post_path(@post), method: :put, class: "btn btn-warning btn-raised mdi-navigation-arrow-drop-up", id: "large-button" do %>
      <p><%= @post.get_upvotes.size %></p>
      <% end %>
    </div>
    <div class="col-md-11">
      <span id="post-name">
        <h2><%= @post.name %></h2>
      </span>
      <h3><%= @post.description %></h3>
      <h4><a href="<%= @post.url %>" target="_blank"><%= @post.url %></a></h4>
    </div>
  </div>
  <hr>

  <!-- User info -->
  <div class="row">
    <div class="col-md-4">
      <div class="user-photo-container">
  <!--    TODO: Replace default image with a placeholder avatar -->
          <div class="profile-photo">
            <% if @post.user_photo %>
              <%= image_tag @post.user_photo, class: "user-photo-small" %>
            <% else %>
              <img class="user-photo-small" src="https://pbs.twimg.com/profile_images/485866025884188673/mm_ifWVp.jpeg" alt="icon">
            <% end %>
          </div>
      </div>
      <div class="user-info-container">
        <span>Posted <%= time_ago_in_words(@post.created_at) %> ago by </span>
        <%= link_to @post.name_of_user, user_path(@post.user) %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="number-of-upvotes">
        <span><%= @post.get_upvotes.size %> Upvotes</span>
        <% @post.voters.each do |voter| %>
          <ul class="no-bullets">
            <li><%= image_tag voter.photo, class: "user-photo-x-small" %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="social-share-button">
        <%= facebook_button %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="social-share-button">
        <%= twitter_button %>
      </div>  
    </div>
  </div>
  <hr>

<!--   Comments -->
  <h2><%= pluralize(@comments.count, "Comment")%></h2>
  <div class="list-group">
    <%= comments_tree_for @comments %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'comments/form', comment: @comment, commentable: @commentable, parent: @parent %>
    </div>
  </div>
</div>